@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  @apply text-sm bg-gray-50 text-gray-900;
}

.dark body {
  @apply bg-gray-950 text-gray-100;
}

@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 20vh);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 7.5vh);
  }
}
